<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont">
    <xacro:arg name="simulated" default="true"/>
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="generation" default="3"/>
    <xacro:property name="generation" value="$(arg generation)"/>

    <xacro:include filename="$(find robotont_gazebo)/urdf/robotont_gazebo_common.urdf.xacro"/>

    <xacro:if value="${str(generation) == '3'}">
        <xacro:include filename="$(find robotont_nuc_description)/urdf/gen3/robotont_realsense.urdf.xacro"/>
    </xacro:if>
    <xacro:if value="${str(generation) == '2.1'}">
        <xacro:include filename="$(find robotont_nuc_description)/urdf/gen2_1/robotont_realsense.urdf.xacro"/>
    </xacro:if>

    <gazebo reference="camera_link">
        <sensor name="rs_d435i" type="rgbd_camera">
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <camera name="rs_d435i">
          <horizontal_fov>1.50098</horizontal_fov>
          <lens>
            <intrinsics>
              <fx>343.159</fx>
              <fy>343.159</fy>
              <cx>319.5</cx>
              <cy>179.5</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
          <image>
            <width>640</width>
            <height>120</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>300</far>
          </clip>
          <depth_camera>
            <clip>
              <near>0.7</near>
              <far>100</far>
            </clip>
          </depth_camera>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="gz::sim::v8::systems::Sensors" filename="gz-sim8-sensors-system"/>
      </sensor>
    </gazebo>
</robot>
