<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find robotont_gazebo)/urdf/gazebo_rim.urdf.xacro"/>
    <xacro:property name="back_joint" value="rim_back_joint"/>
    <xacro:property name="left_joint" value="rim_left_joint"/>
    <xacro:property name="right_joint" value="rim_right_joint"/>
    <xacro:property name="ns" value="robotont"/>
    <xacro:property name="wheel_radius" value="0.062"/>
    <xacro:property name="wheel_distance" value="0.14"/>
    <xacro:property name="velocity_cmd_topic" value="/cmd_vel"/>
    <xacro:property name="prefix" value=""/>

    <xacro:gazebo_rim_macro
            name="back"
            prefix="${prefix}"
    />
    <xacro:gazebo_rim_macro
            name="right"
            prefix="${prefix}"
    />
    <xacro:gazebo_rim_macro
            name="left"
            prefix="${prefix}"
    />

    <gazebo>
        <static>false</static>
        <selfCollide>false</selfCollide>
        <allow_auto_disable>true</allow_auto_disable>

        <plugin name="gz_planar_move::PlanarMove" filename="$(find gz_planar_move)/lib/libgz_planar_move.so">
            <ns>${ns}</ns>
            <back_joint>${back_joint}</back_joint>
            <left_joint>${left_joint}</left_joint>
            <right_joint>${right_joint}</right_joint>
            <wheel_distance>${wheel_distance}</wheel_distance>
            <wheel_radius>${wheel_radius}</wheel_radius>
            <velocity_cmd_topic>${velocity_cmd_topic}</velocity_cmd_topic>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
        </plugin>
    </gazebo>
</robot>
