<?xml version="1.0"?>    

<robot xmlns:xacro="http://ros.org/wiki/xacro">   
    <xacro:include filename="$(find robotont_gazebo)/urdf/gazebo_rim.urdf.xacro"/>
    <xacro:gazebo_rim_macro
        name="back"
        prefix="${prefix}"
    />
    <xacro:gazebo_rim_macro
        name="right"
        prefix="${prefix}"
    />
    <xacro:gazebo_rim_macro
        name="left"
        prefix="${prefix}"
    />
    <gazebo>
        <plugin name="robotont_controller" filename="libgazebo_ros_planar_move.so">
            <commandTopic>/robotont/cmd_vel</commandTopic>
            <odometryTopic>/robotont/odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>30.0</odometryRate>
            <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
        </plugin>
    </gazebo>
        <!-- Give materials to links -->
    <gazebo reference="${prefix}base_link">
        <material>Robotont/BlueishTransparent</material>
    </gazebo>
    <gazebo reference="${prefix}camera_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="${prefix}computer_link">
        <material>Gazebo/Black</material>
    </gazebo>
  
        <!-- Laser -->
    <gazebo reference="camera_link">
    <!--<gazebo reference="hokuyo_link">-->
        <sensor type="ray" name="head_hokuyo_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>40</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-1.570796</min_angle>
                        <max_angle>1.570796</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>30.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>

                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>scan</topicName>
                <frameName>camera_link</frameName>
                <!-- <frameName>hokuyo_link</frameName>-->
            </plugin>
        </sensor>
    </gazebo>
</robot>
