<?xml version="1.0" ?>
<launch>
    <arg name="world" default="worlds/empty.world" />
    <arg name="x_pos" default="0"/>
    <arg name="model" default="robotont_gazebo_nuc"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="true" />
        <arg name="verbose" value="true" />
        <arg name="output" value="screen" />
    </include>
    <!-- topic for 3d_mapping -->
    <group unless="$(eval arg('model') == 'robotont_gazebo_lidar')">
        <node name="relay" type="relay" pkg="topic_tools" args="/camera/depth/image_rect_raw /camera/aligned_depth_to_color/image_raw" />
    </group>
    <!-- Convert an xacro and put on parameter server -->
    <param name="/robotont/robot_description" command="$(find xacro)/xacro $(find robotont_gazebo)/urdf/$(arg model).urdf.xacro"/>
    <!-- State publishers -->
    <node ns="robotont" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node ns="robotont" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- Spawn a robot into Gazebo -->
    <node ns="robotont" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /robotont/robot_description -urdf -x -$(arg x_pos) -model robotont" />  
</launch>   
