<?xml version="1.0" ?>

<launch>
    <arg name="robotont_ns" default="robotont"/>
           <!-- Launch gmapping-->
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_footprint" />
        <param name="map_update_interval" value= "0.001"/>
    </node>
           <!-- Launch RViz -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotont_gazebo)/config/robotont_mapping.rviz" output="screen" />
</launch>
