<?xml version="1.0" ?>
<launch>
    <arg name="world" default="worlds/between.world"/>
    <arg name="x_pos" default="2"/>
    <include file="$(find robotont_gazebo)/launch/gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
    </include>
    <!-- Teleop keyboard -->
    <node ns="robotont" pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <param name='~speed' value="1.0" />
        <param name='~turn' value="10" />
    </node>
</launch>
