<?xml version="1.0" ?>
<launch>
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/> <!-- As eval may not contain double underscore expressions, a new argument is defined to by-pass this issue. -->
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> <!-- When a namespace is specified, it is also converted into prefix with a trailing underscore. -->
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)_"/>
  <arg name="model" default="robotont_gazebo_nuc"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find robotont_gazebo)/urdf/$(arg model).urdf.xacro prefix:=$(arg prefix) __ns:=$(arg __ns)"/>

</launch>
